* {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.container {
    width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

.header {
    width: 1920px;
    height: 850px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    margin-left: 240px;
    margin-top: 197px;
    margin-bottom: 147px;
}

.main-header-text {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    height: 288px;
}

.deader-description {
    color: rgba(10, 10, 10, 0.6);
    font-size: 18px;
    font-weight: 400;
    width: 636px;
    height: 90px;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
}

.header-picture {
    background-image: url("../styles/image/pngwing\ 10.png");
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}

/* main section start */

.section-featured {
    text-align: center;
    margin-top: 150px;
}

.featured-flower {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-left: 663px;
}

.flower-boxs {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 800px;
    align-items: center;
    margin: -50px auto;
    gap: 20px;
}

.flower-box-pink {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: pink;
    border-radius: 232px 232px 0px 0px;
}

.flower-box-pink img {
    margin: 108px 80px;
}

.pink {
    margin: -80px 0px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.flower-box-blue {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: rgba(71, 4, 228, 0.342);
    border-radius: 232px 232px 0px 0px;
}

.flower-box-blue img {
    margin: 84px 47px;
}

.blue {
    margin: 26px 0px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.flower-box-yellow {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: rgba(23, 25, 34, 0.452);
    border-radius: 232px 232px 0px 0px;
}

.flower-box-yellow img {
    margin: 65px 75px;
}

.yellow {
    margin: -36px 0px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

/* Rectangle section start */
.rectangle {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 320px;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.301);
    margin-top: 95px;
    border-radius: 10px;
    gap: 100px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* sign Up section Start */

.sign-up {
    width: 1920px;
    height: 620px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    gap: 100px;


}

.sale {
    text-align: center;
}

.sale-up {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off {
    color: red;
}

.sale-up-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.sale-flower img {
    margin-right: 10px;
}

/* instagram section start */

.instagram-title {
    text-align: center;
    margin-top: 128px;
}

.instagram {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.instagram-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-left: 663px;

}

.instagram-flower {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 50px;
}

/* Email section Start */
.email {
    background-image: url("../styles/image/Rectangle\ 9.png");
    height: 449px;
    width: 1440px;
    margin: 128px auto;
}

.deals-heading {
    text-align: center;
    padding-top: 30px;
}

.deals {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.deals-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.gmail {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 16px;
    margin-top: 25px;
    font-size: 20px;
    border: none;

}

.footer {
    width: 1922px;
    height: 449px;
    background-color: black;
    margin-top: 128px;
    text-align: center;
}

.flower-shop {
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
}

.flower {
    color: #E55473;
}

.layout {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 625px;
    padding-left: 649px;
}

small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}


/* External Section */

.shadow{
    width: 1440px;
    height: 449px;
    background-color: gray;
    margin: 195px auto;
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px;
    box-shadow: 0px 60px 70px 0px pink;
}
.left-left-up{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 191, 0.363);
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px 0px black;
    background-image: url("../styles/image/pngwing\ 7.png");
    background-size: 32%;


}
.left-right-up{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 196, 0, 0.205);
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px 0px black;
}
.left-shadow-one{
    display: flex;
    gap: 10px;
}
.left-left-down{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 68, 255, 0.164);
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px 0px black;

}
.left-right-down{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255, 42, 0.075);
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px 0px black;
    

}
.left-shadow-two{
    display: flex;
    gap: 10px;
}




.right-left-up{
    height: 200px;
    width: 200px;
    background-color: rgba(10, 0, 0, 0.034);
    margin-top: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px 0px rgb(0, 0, 0);
}
.right-right-up{
    height: 200px;
    width: 200px;
    background-color: rgba(10, 0, 0, 0.144);
    margin-top: 20px;
    border-radius: 10%;
}
.right-shadow-one{
    display: flex;
    gap: 10px;
}
.right-left-down{
    height: 200px;
    width: 200px;
    background-color: rgba(10, 0, 0, 0.144);
    margin-top: 10px;
    border-radius: 10%;

}
.right-right-down{
    height: 200px;
    width: 200px;
    background-color: rgba(10, 0, 0, 0.034);
    margin-top: 10px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px 0px rgb(0, 0, 0);
    background-image: url("../styles/image/pngwing\ 7.png");
    background-size: 32%;


}
.left-shadow-two{
    display: flex;
    gap: 10px;
}