* {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.container {
    width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

.header {
    width: 1920px;
    height: 850px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    margin-left: 240px;
    margin-top: 197px;
    margin-bottom: 147px;
}

.main-header-text {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    height: 288px;
}

.deader-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 636px;
    height: 90px;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
}

.header-picture {
    background-image: url("../styles/image/pngwing\ 10.png");
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}

/* main section start */

.section-featured {
    text-align: center;
    margin-top: 250px;
}

.featured-flower {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    margin-left: 663px;
}

.flower-boxs {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 800px;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.flower-box-pink {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: pink;
    border-radius: 232px 232px 0px 0px;
}
.flower-box-pink img{
    margin: 108px 80px;
}
.pink{
    margin: -80px 160px;
}
.flower-box-blue {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: blue;
    border-radius: 232px 232px 0px 0px;
}
.flower-box-yellow {
    width: 464px;
    height: 538px;
    align-items: center;
    background-color: yellow;
    border-radius: 232px 232px 0px 0px;
}